git+https://github.com/slaclab/pcds-devices#egg=pcds-devices
git+https://github.com/slaclab/pswalker#egg=pswalker
git+https://github.com/slaclab/lightpath.git#egg=lightpath
git+https://github.com/slaclab/happi.git#egg=happi
simplejson
lmfit
numpy
pandas
